@import url('https://fonts.googleapis.com/css?family=Lato:300|Poppins:300');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

.parallax{
    background-image: url("images/robotinhand.jpg");
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

/* Wrapper */
.headerwrapper{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

/*NAVIGATIONSBAR*/

#logo{
    height: 90px;
    width: 242px;
}

nav{
    background-color: #a9c1cd;
    overflow: hidden;
    display: block;
    position: fixed;
    width: 100vw;
    z-index: 2;
    height: 100px;
}

.menubox {
    float: right;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.menubox ul{
    list-style-type: none;
}

.menu {
    color: #ffffff;
    font-family: 'Poppins';
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
}

.menuli{
    float:left;
}

/* Change background on mouse-over */
.menu:hover {
  background: #ee7e32;
  opacity: 0.5;
}

.navlogo {
  float: left;
}

.soMeContainer{
    width: 155px;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
}

.soMeContainer ul{
    list-style-type: none;
    position: absolute;
    top: 20px;
}

.soMeContainer li{
    display: inline;
}

.soMeAnchor{
    text-decoration: none;
}

.social i {
    font-size: 160%;
    margin-right: 20px;
    color: #ffffff;
    display: inline;
    z-index: 10;
}


.wrapper{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    height: 100px;
    left: 0;
    top: 0;
    padding: 0;
}

.pages{
    height: 100vh;
    width: 100%;
}  

.contentwrapper{
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
    margin-bottom: 50px;
}

/*************PICTURE CAROUSEL****************/

.carouselImage{
    width: 100vw;
    height: 93vh;
}

.dot-container, .dot-container1{
    text-align: center;
}


/* Slideshow container */
#slideshow-container {
  width: 100vw;
  height: 95vh;
}

@media screen and (max-width: 600px) {
    .caroImage{
        height: 50vh;
    }
    #slideshow-container{
        height: 50vh;
    }
  }

/* Hide the images by default */
.myImages {
    display: none;
}
  

  /* The dots/bullets/indicators */
.dot, .dot1{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  
  .active, .dot:hover, .dot1:hover {
    background-color: #ee7e32;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: forward;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



  /*************WHAT IS TENDO?****************/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 100vw;
    padding-bottom: 10px;
}

#whatsTendo h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

#whatsTendo p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
    width: 300px;
    margin:auto;
    line-height: 1.6;
    text-align: justify;
}

#whatsTendo img{
    margin: auto;
    display: block;
    opacity: 0.35;
}

/********YOUTUBE OG REVIEWS**********/

#youtube-reviews h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.review, #youtubeVid{
    width: 310px;
    height: 170px;
    margin: auto;
    display: block;
    padding: 12px;
}

.media-wrapper{
    border: solid 1px rgba(155, 211, 223, 0.3);
    height: 300px;
    width: 310px;
    margin: auto;
    display: block;
    background: rgba(155, 211, 223, 0.3);
}

#youtube-desc, .review-desc{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.0em;
    text-align: justify;
    line-height: 1.6;
    width: 310px;
    padding: 8px;
}

.review-caption{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    padding: 12px;
}

#slideshow-container2{
    width: 500px;
    height: 452px;
    position: relative;
    margin: auto;
  }


.reviews{
    display: none;
}


#youtube-reviews{
    height: 120%;
}

/*********HOW TO GET IT*********/

#howtogetit h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

#howtogetit p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 4em;
    width: 300px;
    margin: auto;
    padding-top: 75px;
    line-height: 1.6;
    text-align: justify;
}

#howtogetit .img{
    width: 500px;
    height: 300px;
    margin: auto;
    display: block;
}

#howtogetit .icon{
    margin: auto;
    display: block;
    opacity: 0.35;
}

@media screen and (min-width: 768px) {
    .column {
        float: left;
        width: 50%;
        padding-bottom: 0px;
    }
    #howtogetit p{
        font-size: 1.2em;
        width: 500px;
    }
}

/**********About us*************/


#tendoTeam h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
}

#tendoTeam img{
    width: 500px;
    height: 375px;
    display:block;
    margin: auto;   
    margin-top: 20px;
}

#tendoTeam p{
    width: 300px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin:auto;
    margin-top: 75px;
    line-height: 1.6;
    text-align: justify;
}

#tendoTeam .icon{
    width: 180px;
    height: 190px;
    margin: auto;
    margin-top: 70px;
    display: block;
    opacity: 0.35;
}



/*******MEDIA QUERIES*******/

@media screen and (min-width: 768px) {
    .column {
        float: left;
        width: 50%;
        padding-bottom: 0px;
    }

    #whatsTendo p{
        font-size: 1.2em;
        width: 500px;
    }

    #tendoTeam p{
        font-size: 1.2em;
        width: 500px;
    }

    .review, #youtubeVid{
        width: 500px;
        height: 300px;
    }

    .media-wrapper{
        width: 500px;
        height: 500px;
    }

    #youtube-desc, .review-desc{
        width: 490px;
        margin-left: 4;
    }

}


/*******GO TO TOP KNAP********/

/* Her styles to-top knap */
.back-to-top {
    position: fixed;   /*Knappen bliver på sin plads */
    bottom: 1.7em;
    right: 1em;
    display: none;
    z-index: 10;
}

/*******GO TO TOP KNAP OG NYHEDSSTRIBE********/

.newspage {
    min-height: 8vh;
    width: 100%;
    margin-top: 150px;
}  


.newslist {
    list-style-type: none;
}

.newsbox {
    position: absolute;
    width: 100vw;
    height: 60px;
    bottom: 0;
    margin-left: 1px;
}

/* Placering og redigering af logoerne til social media*/

.newsicons {
    float: left;
    width: 7.6%;
    padding: 5px;
}


/*FOOTER START*/

.footerColumn{
    float: left;
    width: 33.33%;
}

#googleMap{
    width: 225px;
    height:150px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

footer {
    background-color: #a9c1cd;
    height: 200px;
    width: 100vw;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    z-index: 2;
}

footer h3{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.75em;
    color: #ffffff;
    text-align: left;
    display: block;
    margin: auto;
    width: 225px;
    padding-bottom: 10px;
}

footer p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #ffffff;
    width: 225px;
    padding-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*FOOTER SLUT*/