@import url('https://fonts.googleapis.com/css?family=Lato:300|Poppins:300');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*************PICTURE CAROUSEL****************/

.caroImage{
    width: 100vw;
    height: 93vh;
    margin: auto;
    position: absolute;
}

.dot-container{
    text-align: center;
}


/* Slideshow container */
#slideshow-container {
  width: 100vw;
  height: 95vh;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 600px) {
    .caroImage{
        height: 50vh;
    }
    #slideshow-container{
        height: 50vh;
    }
  }

/* Hide the images by default */
.myImages {
    display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 18px 2px 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #ee7e32;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: forward;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



  /*************WHAT IS TENDO?****************/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 100vw;
    padding-bottom: 10px;
}

#whatsTendo h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

#whatsTendo p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
    width: 300px;
    margin:auto;
    line-height: 1.6;
    text-align: justify;
}

#whatsTendo img{
    margin: auto;
    display: block;
    opacity: 0.35;
}



/**********About us*************/


#tendoTeam h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin-bottom: 50px;
}

#tendoTeam img{
    width: 500px;
    height: 375px;
    display:block;
    margin: auto;
}

#tendoTeam{
    margin-top: 150px;
}

#tendoTeam p{
    width: 300px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin:auto;
    line-height: 1.6;
    text-align: justify;
}




/********YOUTUBE OG REVIEWS**********/

#youtube-reviews h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}


.review, #youtubeVid{
    width: 310px;
    height: 170px;
    margin: auto;
    display: block;
    padding: 12px;
}

.media-wrapper{
    border: solid 1px #707070;
    height: 300px;
    width: 310px;
    margin: auto;
    display: block;
}

#youtube-desc, .review-desc{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.6;
    width: 310px;
    padding: 8px;
}



.review-caption{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    padding: 12px;
}

#slideshow-container2{
    width: 500px;
    height: 452px;
    position: relative;
    margin: auto;
  }


.reviews{
    display: none;
}





/*******MEDIA QUERIES*******/

@media screen and (min-width: 768px) {
    .column {
        float: left;
        width: 50%;
        padding-bottom: 0px;
    }

    #whatsTendo p{
        font-size: 1.2em;
        width: 500px;
    }

    #tendoTeam p{
        font-size: 1.2em;
        width: 500px;
    }

    .review, #youtubeVid{
        width: 500px;
        height: 300px;
    }

    .media-wrapper{
        width: 500px;
        height: 500px;
    }

    #youtube-desc, .review-desc{
        width: 500px;
    }

}

/*********HOW TO GET IT*********/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 100vw;
    padding-bottom: 10px;
}

#howtogetit h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

#howtogetit p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 4em;
    width: 300px;
    margin: auto;
    line-height: 1.6;
    text-align: justify;
}

#howtogetit .img{
    width: 500px;
    height: 375px;
    margin: auto;
    display: block;
}

#howtogetit .icon{
    margin: auto;
    display: block;
    opacity: 0,35;
}



@media screen and (min-width: 768px) {
    .column {
        float: left;
        width: 50%;
        padding-bottom: 0px;
    }
    #howtogetit p{
        font-size: 1.2em;
        width: 500px;
    }
}





/********HEADER OG FOOTER*********/


/*NAV START*/
	/* Add a blue background color to the top navigation */
.topnav {
  background-color: #99D2DE;
  overflow: hidden;
  display: block;
	position: fixed;
	width: 100%;
}

	/* Style the links inside the navigation bar */
.menu {
  color: #ffffff;
  font-family: 'Poppins';
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 22px;
  margin-right: 20px;
  float: right;
  margin-top: 120px;
}

	/* */
.menubox {
  float: right;
	padding-bottom: 20px;
	padding-right: 20px;
}

/* Change background on mouse-over */
.topnav a:hover {
  background: #ee7e32;
	opacity: 0.5;
}

.navlogo {
  float: left;
}

.soMeContainer {
  position: absolute;
  right: 20px;
  margin: 20px;
}


.social {
  list-style-type: none;
  text-align: center;
}
.social li {
  display: inline;
  list-style-type: none;
}
.social i {
  font-size: 270%;
  margin: 1% 5% 7% 4%;
  color: #008080;
}
.social i:hover {
  color: #;
}

/*NAV SLUT*/

/*FOOTER START*/
.column {
    float: left;
    width: 33%;
}

.columnmap {
  float: left;
  margin-right: 40px;
  margin-top: 45px;
  padding-left: px;
}

#footer {

    background-color: #99D2DE;
    height: 300px;
    width: 100%;
}

#footer h3{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: left;
    padding-left: 85px;
}

#footer p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1em;
    width: 300px;
    margin:auto;
    padding-bottom: 20px;
    line-height: 1.6;
    opacity: 0.5;
}
/*FOOTER SLUT*/





/*******GO TO TOP KNAP OG NYHEDSSTRIBE********/


/* Her styles to-top knap */
.back-to-top {
    position: fixed;   /*Knappen bliver på sin plads */
    bottom: 1.7em;
    right: 1em;
    display: none;
    z-index: 10;
}


/* Placering og redigering af logoerne til social media*/
#tv2fyn {
    padding: 0;
    position: absolute;
    top: 10%;
    left: 1em;
}

#udogse {
    padding: 0;
    position: absolute;
    top: 15%;
    left: 20em;
}

#moot {
    padding: 0;
    position: absolute;
    top: 13.8%;
    left: 37.5em;
}

#veckans {
    padding: 0;
    position: absolute;
    top: 15.7%;
    left: 55em;
}

#breakit {
    padding: 0;
    position: absolute;
    top: 18.8%;
    left: 65em;
}

#ottetillfem {
    padding: 0;
    position: absolute;
    top: 17%;
    left: 74em;
}

#digital {
    padding: 0;
    position: absolute;
    top: 30%;
    left: 2em;
}

#boersen {
    padding: 0;
    position: absolute;
    top: 31.5%;
    left: 14em;
}

#lokalt {
    padding: 0;
    position: absolute;
    top: 31%;
    left: 26em;
}

#halla {
    padding: 0;
    position: absolute;
    top: 27%;
    left: 38em;
}

#sydsvensk {
    padding: 0;
    position: absolute;
    top: 30%;
    left: 50em;
}

#orobot {
    padding: 0;
    position: absolute;
    top: 26%;
    left: 61.5em;
}

#reuma {
    padding: 0;
    position: absolute;
    top: 30%;
    left: 74.5em;
}
