/* Her styles to-top knap */
.back-to-top {
    position: fixed;   /*Knappen bliver på sin plads */
    bottom: 1.7em;
    right: 1em;
    display: none;
    z-index: 10;
}


/* Placering og redigering af logoerne til social media*/
#tv2fyn {
    padding: 0;
    position: absolute;
    top: 10%;
    left: 1em;
}

#udogse {
    padding: 0;
    position: absolute;
    top: 15%;
    left: 20em;
}

#moot {
    padding: 0;
    position: absolute;
    top: 13.8%;
    left: 37.5em;
}

#veckans {
    padding: 0;
    position: absolute;
    top: 15.7%;
    left: 55em;
}

#breakit {
    padding: 0;
    position: absolute;
    top: 18.8%;
    left: 65em;
}

#ottetillfem {
    padding: 0;
    position: absolute;
    top: 17%;
    left: 74em;
}

#digital {
    padding: 0;
    position: absolute;
    top: 30%;
    left: 2em;
}

#boersen {
    padding: 0;
    position: absolute;
    top: 31.5%;
    left: 14em;
}

#lokalt {
    padding: 0;
    position: absolute;
    top: 31%;
    left: 26em;
}

#halla {
    padding: 0;
    position: absolute;
    top: 27%;
    left: 38em;
}

#sydsvensk {
    padding: 0;
    position: absolute;
    top: 30%;
    left: 50em;
}

#orobot {
    padding: 0;
    position: absolute;
    top: 26%;
    left: 61.5em;
}

#reuma {
    padding: 0;
    position: absolute;
    top: 30%;
    left: 74.5em;
}
